body {
    margin: 0;
    padding: 0;
}

section {
    height: auto;
    background: #000;
}

video {
    object-fit: cover;
}



h1 {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 70%;
    /* left: -50%; */
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 5em;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    /* opacity: 0;      */
}

h1 span {
    display: inline-block;
    animation: animate 5s linear forwards;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(30px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(1);
    }
}

h1 span:nth-child(1) {
    animation-delay: 0.1s;
}

h1 span:nth-child(2) {
    animation-delay: 0.1s;
}

h1 span:nth-child(3) {
    animation-delay: 0.1s;
}

h1 span:nth-child(4) {
    animation-delay: 0.1s;
}

h1 span:nth-child(5) {
    animation-delay: 0.3s;
}

h1 span:nth-child(6) {
    animation-delay: 0.3s;
}

h1 span:nth-child(7) {
    animation-delay: 0.2s;
}

h1 span:nth-child(8) {
    animation-delay: 0.2s;
}

h1 span:nth-child(9) {
    animation-delay: 0.1s;
}

h1 span:nth-child(10) {
    animation-delay: 0.1s;
}

h1 span:nth-child(11) {
    animation-delay: 0.1s;
}

h1 span:nth-child(12) {
    animation-delay: 0.1s;
}